[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = {version = "*", index = "pypi"}
django-extensions = {version = "*", index = "pypi"}
Werkzeug = {version = "*", index = "pypi"}
pytest = {version = "*", index = "pypi"}
pytest-django = {version = "*", index = "pypi"}
pytest-pudb = {version = "*", index = "pypi"}
pytest-cov = {version = "*", index = "pypi"}
snapshottest = {version = "*", index = "pypi"}
freezegun = {version = "*", index = "pypi"}
factory-boy = {version = "*", index = "pypi"}

[packages]
django = {version = "*", index = "pypi"}
djangorestframework = {version = "*", index = "pypi"}
psycopg2-binary = {version = "*", index = "pypi"}
requests = {version = "*", index = "pypi"}
uvicorn = {version = "*", index = "pypi"}
sentry-sdk = {version = "*", index = "pypi"}
django-cors-headers = {version = "*", index = "pypi"}
drf_yasg = {version = "*", index = "pypi"}
django-grappelli = {version = "*", index = "pypi"}
django-allauth = {version = "*", index = "pypi"}
django-rest-auth = {version = "*", index = "pypi"}
djangorestframework-jwt = {version = "*", index = "pypi"}
django-debug-toolbar = {version = "*", index = "pypi"}

[requires]
python_version = "3.8"
